
.popa{
    font-family: "SegoeUIRegular", sans-serif;
    font-family: "SegoeUILight", sans-serif;
    
    font-family: 'Marck Script', cursive;
    color: #dc8d4e;
}/*|||||||||||||||||||||||||||||||||||||||Основной оранжевый*/