/* НАСТРОЙКИ ПО УМОЛЧАНИЮ........................................................................ */

html,
body {
	width: 100%;	
	height: 100%;
	margin: 0;
	padding: 0;	
	font-size: 10px;	
	font-weight: 300;
	background-color: #000;
	
}
ul {
	margin: 0;
	padding-left: 0;	
}
ul li {
	list-style: none;
}
input,
textarea,
button:focus {
	outline: none;
	border: none;
}
textarea{
	resize: none;
}
button {
	border: none;
	background: none;
}
p{
	margin: 0;
}
a, a:hover {
	text-decoration: none;
}
::placeholder {
color: #796e6e;
opacity: 1;
}
:focus::placeholder {
	color: transparent;
}

/* HEADER........................................................................ */
.container{
	width: 100%;				
}
/*  */
.header{
	position: fixed;	
	display: flex;
	justify-content: space-between;
	width: 100%;		
	background-color: #000;
	z-index: 6;
}

/*  */
.nav{	
	display: flex;
	align-items: center;
}/*блок навигации по сайту*/

/*  */
.menu-wrapper--active{
	display: block;
	position: fixed;
	width: 100%;
	height: 3000px;
	background-color: rgba(0, 0, 0, 0.8);
}/*темная подложка под мобильное меню*/

/*  */
.menu-mobile{
	display: flex;
	flex-direction: column;	
	position: fixed;
	top:6rem;
	left: -60rem;
	width: 25rem;	
	padding: 1rem;	
	background: #2a2a2c;	
	z-index: 3;
	transition: 1000ms;
}/* мобильное меню */

/*  */
.menu-mobile--active{	
	left: 2rem;
	transition: 800ms;	
}/* класс для скрытия мобильного меню */

/*  */
.menu-mobile__item{
	font-family: "SegoeUILight", sans-serif;
	font-size: 1.7rem;
	color: #dc8d4e;
	padding: 1rem;
	margin-bottom: 0.2rem;
	background-color: #3b3a3a;
	cursor: pointer;
}/* пункты мобильного меню */

/*  */
.menu-mobile__item:hover{
	background-color:  #474545;
}/* эфект при наведении */

/*  */
.control-buttons{
	display: flex;
	justify-content: space-between;
}/* обертка для кнопок управления */

/*  */
.control-button{
	text-align: center;
	flex-grow: 1;
	padding: 0.5rem;	
}/* кнопки для входа регистрации и поиска*/


/*  */
.control-button__icon{
	font-size: 2.5rem;
	padding: 1rem;
	color: #3b3a3a;	
	background-color: #b8b2b2;	
	border-radius: 50%;	
}/* иконки для кнопок */

/*  */
.control-button__icon:hover{
	font-size: 2.6rem;
	color:#f1f1f0;
}/* эфект при наведении */

/*  */
.control-button_text{
	font-family: "SegoeUIRegular", sans-serif;
	font-size: 1.2rem;
	margin-top: 2rem;
	
}
/* подписи под кнопками  */

/*  */
.menu{
	display: flex;
	justify-content: space-around;
	font-size: 1.8rem;	
}/* классическое меню */

/*  */
.menu__item{
	margin-left: 1rem;	
}/* элементы класического меню */


/*  */
.menu__line-1{		
	display: block; 
	width: 30px;
    height: 2px;   
    cursor: pointer;
	background: #fdfeff;
	transition: 1000ms;
    
}/*линии для бургер меню*/

.menu__line-2{	
	display: block; 	
	width: 30px;
	height: 2px;
	margin-top: 8px;   
    cursor: pointer;
	background: #fdfeff;
	transition: 1000ms;
	
}/*линии для бургер меню*/

.menu__line-3{	
	display: block; 	
	width: 30px;
	height: 2px; 
	margin-top: 8px;  
    cursor: pointer;
	background: #fdfeff;
	transition: 1000ms;
	
}/*линии для бургер меню*/

/*  */
.menu__line-1--pending{
	width: 33px;
	height: 3px;
	transform: rotate(45deg);
	transition: 1000ms;
}/*линии для бургер меню после нажатия*/

.menu__line-2--pending{
	width: 33px;
	height: 3px;
	margin-top: -3px; 
	transform: rotate(-45deg);
	transition: 1000ms;
}/*линии для бургер меню после нажатия*/

.menu__line-3--pending{
	display: none;
	
}/*линии для бургер меню после нажатия*/

/*  */
.menu__link{
	font-family: "SegoeUIRegular", sans-serif;
	color:#fff;
}/* Ссылка класического меню */

/*  */
.menu__link:hover{
	border-bottom: 2px solid #cac7c7;
}/* эфект при наведении на ссылку */

/*  */
.menu__excerpt{
	font-family: "SegoeUIRegular", sans-serif;
	color: #dc8d4e;/*|||||||||||||||||||||||||||||||||||||||Основной оранжевый*/
}/* Оранжевый текст в меню */

/*  */
.logo{
	font-family: "SegoeUIRegular", sans-serif;
	padding: 0.5rem 0 0.5rem 1rem;
	font-size: 1.5rem;
	color: #fff;
}/* Логотип базовый */

/*  */
.logo-main{	
	font-size: 2.7rem;
	color:#fff;
}
.logo__excerpt{
	padding: 2px;
	margin-left: 5px;
	font-weight: 600;
	color: #000;
	border-radius: 5px;
	background-color:#dc8d4e;/*|||||||||||||||||||||||||||||||Основной оранжевый*/
}/* Основной логотип спайта */

/*  */
.search{
	display: flex;
	align-items: center;
}/* бллок с поиском и категориями */

/*  */
.search__form{
	display: flex;
	align-items: center;
}/* форма поиска */

/*  */
.search__input{
	font-family: "SegoeUILight", sans-serif;
	font-size: 1.6rem;
	color: #fff;
	width: 10rem;
	padding: 0.5rem;
	background-color: #444040;
	
}/* поле ввода формы */

/*  */
.search__btn{
	font-size: 1.6rem;
	color: #fff;
	margin-right: 10px;
	padding: 0.5rem;	
	cursor: pointer;
	border: 1px solid #444040;;
	background-color: #444040;
	
}/* кнопка формы */

/*  */
.search__cat{
	margin-right: 1rem;
	font-size: 2rem;
	color: #fff;
	cursor: pointer;
}/* кнопка категории */

/*  */
.search__cat--active{
	color: #dc8d4e;/*|||||||||||||||||||||||||||||||Основной оранжевый*/
}/* класс для активной кнопки */

/*  */
.category{
	position: fixed;
	top:6rem;
	right: -20rem;
	width: 20rem;			
	background: #2a2a2c;	
	z-index: 3;
	transition: 1000ms;
}/* окно категорий */

/*  */
.category--active{
	right: 2rem;
	transition: 1000ms;
}/* класс для активного окна */

/*  */
.category__item{
	font-family: 'Marck Script', cursive;
	font-size: 1.5rem;
	color: #d37223;
	padding: 1rem;
	margin-bottom: 0.1rem;
	background-color: #3b3a3a;
	cursor: pointer;
}/* категории */

/* MAIN........................................................................ */

/*  */
.main{	
	width: 98%;
	margin: auto;		
	background-color: #000;
	padding: 6rem 2rem 0 2rem;	
	
}/* блок маин */

/*  */
.h1{
	font-family: "SegoeUIRegular", sans-serif;	
	font-size: 2.5rem;
	text-align: center;
	color:#585656;
	text-transform: uppercase;
	margin-bottom: 1rem;	
}/* Главный заголовок */

/*  */
.h2{
	font-family: 'Marck Script', cursive;
	font-size: 2rem;
	font-weight: 300;	
	text-align: center;
	color: rgba(230, 111, 42, 0.6);	
	margin-top: 0;
	margin-bottom: 5rem;
}/* подзаголовок */

/*  */
.tabs-title{
	display: flex;
	justify-content: flex-start;	
}/* блок для табов */

/*  */
.tabs-title__name{
	font-family: "SegoeUIRegular", sans-serif;	
	padding: 1.5rem 3rem;
	font-size: 1.5rem;
	color: #fff;
	cursor: pointer;			
}/* заголовки для табов */

/*  */
.tabs-title__name--active{
	position: relative;
	border-top: 2px solid #dc8d4e;/*|||||||||||||||||||||||||||||||Основной оранжевый*/
	border-right: 1px solid #796e6e;
	border-left: 1px solid #796e6e;	
}/* класс для активных заголовков */

/*  */
.tabs-title__name--active:after{
	position: absolute;
	bottom: -3px;
	left:0;
	content:"";
	width: 100%;
	height: 5px;
	background-color: #000;
}/* визуальное оформление заголовков*/		

/*  */
.tabs-tittle__icon{
	padding-right: 0.5rem;
}/* иконки для табов */


/*  */
.tabs-content{	
	display: flex;
	justify-content: start;
	align-content: flex-start;
	flex-flow: row wrap;
	padding: 5rem 0 0 0;
	border-top: 1px solid #796e6e;
}/* окна табов */

/*  */
.tabs-content__inner{
	margin: 0 1rem 1rem 0;	
	flex-basis: 310px;
	flex-grow: 1;		
}/* обекты внутри табов */


/* ПРЕВЬЮ АНКЕТЫ.................................................................. */

/*  */
.profile-preview{
	display: flex;
	flex-direction: column;
	justify-content: space-between;				
	background-color:#424141;/*|||||||||||||||||||||||||||||||\цвет превю анкеты*/	
}/* превью анкеты */

/*  */
.logo-min{
	position: relative;
	width: 11rem;
	padding-left: 0 0 0 1.5rem;
	margin: 0;	
	background-color: #dc8d4e;/*|||||||||||||||||||||||||||||||Основной оранжевый*/	
}/* логотип для превью */

/*  */
.logo-min:after{
	position: absolute;
	top: 2.5rem;
	left: 0;
	content: "";
	width: 100%;
	height: 8rem;
	background-color: #dc8d4e;/*|||||||||||||||||||||||||||||||Основной оранжевый*/
}/* визуальное оформление подкладки под логотип */

/*  */
.logo__excerpt-min{
	margin: 0;
	padding: 0;
}/* логотип для превью */

/*  */
.profile-preview__photo{
	position: relative;
	display: flex;	
	margin: 0 1.5rem 0.5rem 1.5rem;
	padding: 0;
	z-index: 2;
}/* фото для превью */

/*  */
.profile-preview__photo:before{
	position: absolute;
	bottom: -8px;
	left: -8px;
	content: "";
	width: 5rem;
	height: 5rem;		
	border-left: 2px solid #000;
	border-bottom: 2px solid #000;
}
.profile-preview__photo:after{
	position: absolute;
	top: -8px;
	right: -8px;
	content: "";
	width: 5rem;
	height: 5rem;	
	border-right: 2px solid #000;
	border-top: 2px solid #000;
}/* визуальное оформление фото */

.profile-preview__img{
	display: block;
	width: 100%;
	box-shadow: 1px 1px 5px #000;			
}

.profile-preview__state{
	font-family: "SegoeUILight", sans-serif;
	position: absolute;
	top: 2px;
	right: 5px;
	font-size: 1.7rem;
	color: #00ff00;
	text-shadow: 1px 1px 1px #000;
}

.profile-preview__info{
	display: flex;
	justify-content: space-between;
	height: 100%;
		
}

.profile-preview__name{
	font-family: 'Marck Script', cursive;
	align-self: center;
	padding: 0.2rem 0 0.2rem 1rem;
	font-size: 1.7rem;	
	color: #fff;
	text-shadow: 1px 1px 2px #1a1818;

}

.profile-preview__social{
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 11rem;	
	background-color: #dc8d4e;
}

.profile-preview__social:before{
	position: absolute;
	bottom: 2.5rem;
	left: 0;
	content: "";
	width: 100%;
	height: 8rem;
	background-color: #dc8d4e;/*|||||||||||||||||||||||||||||||Основной оранжевый*/
}

.profile-preview__icon{
	font-size: 1.2rem;
	font-weight: 600;
	color: rgba(0, 0, 0, 0.25);
}

.profile-preview__icon--current{
	font-size: 1.2rem;
	color: rgba(0, 0, 0, 1);
}

.page-preview__img{
	display: block;
}

.h3{
	font-size: 2rem;
	color:#fff;
}

.main__text{
	font-family: 'Marck Script', cursive;
	font-size: 1.5rem;
	padding-right: 3rem;
	color: #fff;

}
/* АНКЕТА........................................................................ */
/* ***************************************************************************** */
/* **************************************************************************** */

.profile{	
	padding-top: 8rem;
	background-color: #000;
}

.profile__info{
	display: flex;
	justify-content: start;			
	padding: 0 2.5rem 0 2rem;
	
}
.profile__left-sidebar{
	display: flex;
	flex-direction: column;
	min-width: 33%;	
	margin: 0 0.5rem 0.5rem 0;
}

.profile__block-info{	
	color: #fff;
	font-size: 2rem;
	padding: 2rem;	
	background-color: #424141;;
	margin-bottom: 0.5rem;
	
}

.block-info__title{
	font-family: 'Marck Script', cursive;	
	font-size: 2rem;		
	margin-bottom: 2rem;

}

.block-info__icon{
	font-size: 2rem;
	color: #fff;
	margin-right: 0.5rem;
}

.block-info__text{
	font-family: "SegoeUILight", sans-serif;
	font-size: 1.8rem;	
	color: #dacfcf;
	margin-left: 1rem;
	margin-bottom: 0.5rem;
}

.block-info__area{
	margin-left: 1rem;
	color: #dc8d4e;
	
}


.last-block{
	display: flex;
	flex-direction: column;
	justify-content: space-between;	
	flex-grow: 1;
	margin: 0;
}

.profile__right-sidebar{	
	display: flex;
	flex-direction: column;			
}

.profile-slider{
	position: relative;
}

.profile-slider__title{	
	position: absolute;
	bottom: 5rem;	
	left: 5rem;
	max-width: 30%;
	
}
.profile-slider__name{
	font-family: 'Marck Script', cursive;	
	font-size: 5rem;
	color: #fff;
	margin-bottom: 1rem;
	text-shadow: 2px 2px 3px #111111;
}

.profile-slider__cat{
	font-family: 'Marck Script', cursive;
	font-size: 2rem;
	color: #dc8d4e;/*|||||||||||||||||||||||||||||||Основной оранжевый*/
	margin-bottom: 1rem;
	text-shadow: 2px 2px 3px #0f0f0f;

}

.arrow-left{
	display: inline-block;
	font-size: 2rem;
	color: #fff;	
	padding: 1rem;
	border: 2px solid #fff;
	cursor: pointer;
	
}

.arrow-right{
	display: inline-block;
	font-size: 2rem;
	color: #fff;	
	padding: 1rem;
	border: 2px solid #fff;
	cursor: pointer;
	
}

.profile-slider__photo{
	display: none;	
	margin-bottom: 0.5rem;
}
.profile-slider__photo--active{
	display: block;
}
.profile-slider__photo img{
	width: 100%;	
	
}

.h3{
	font-family: "SegoeUIRegular", sans-serif;
}

.profile__main-text{
	font-family: 'Marck Script', cursive;
	flex-grow: 1;
	font-size: 1.7rem;	
	color: #e0d8d8;
	background-color: #575353;
	padding: 0.5rem;
	margin-bottom: 0.5rem;
}

.profile__photos{
	display: flex;
	flex-wrap: wrap;
	padding: 0 2rem;
}

.profile__img{
	display: block;
	flex-grow: 1;
	width:  32%;
	margin: 0 0.5rem 0.5rem 0;
}

.block-info__social{
	display: flex;
	justify-content: start;
}

.social__icon{
	font-size: 2.5rem;
	padding: 1rem;
	margin-right: 2rem;
	border: 1px solid #fff;
}

.social__icon:hover{	
	box-shadow: 0px 0px 5px #fb6c1a;
	cursor: pointer;
}

/* ||||||||||||||FOOTER|||||||||| */
.footer{	
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 98%;
	margin: auto;	
	padding: 2rem;	
	background-color: #1f1e1e;	
}

.footer-item{
	display: block;
	flex-direction: column;
	flex-grow: 1;
	padding: 0 2rem 1rem 2rem;
	margin: 0.2rem;
	background-color: #272626;	
}

.footer-item__title{
	font-family: "SegoeUIRegular", sans-serif;	
	font-size: 1.5rem;
	margin: 1rem 0 1rem 0;
	color: #c5c1c1;
	
}

.footer-item__li{
	margin-bottom: 0.5rem;

}
.footer-item__link{
	font-family: "SegoeUILight", sans-serif;
	font-size: 1.5rem;
	margin-bottom: 1rem;		
	color: #dc8d4e;/*|||||||||||||||||||||||||||||||Основной оранжевый*/
}
.form{
	display: flex;
	flex-direction: column;
	align-items: flex-end;	
	}

.form__message{
	font-family: "SegoeUILight", sans-serif;
	font-size: 1.5rem;
	color: #fff;	
	width: 95%;
	margin-bottom: 1rem;	
	padding: 1rem;
	background-color: #272626;
	border: 1px solid #9c9797;		
	
	
	
}

.form__button{	
	font-family: "SegoeUIRegular", sans-serif;
	color: #aaa5a5;			
	width: 30%;
	padding: 0.5rem;	
	background-color: #272626;
	border: 1px solid #9c9797;	
}


/* ||||||||||||MEDIAS||||||||||||| */


@media screen and (max-width: 1700px){
	.tabs-content__inner{
		max-width: 19%;			
	}
}

@media screen and (max-width: 1400px){
	.tabs-content__inner{
		max-width: 24%;			
	}
}

@media screen and (max-width: 1200px){
	.tabs-content__inner{
		max-width: 32%;			
	}
	.profile__info{
		flex-wrap: wrap-reverse
	}
	.profile__left-sidebar{		
		margin: 0 0 0.5rem 0;
	}

}

@media screen and (max-width: 1020px){
		.tabs-content__inner{
			max-width: 49%;			
		}
		.menu__item-media{
			display: none;
		}

	}

@media screen and (max-width: 700px){
		.tabs-content__inner{
			max-width: 98%;			
		}
		.logo-main{
			font-size: 1.5rem;
		}
		.main{	
			padding: 6rem 1rem 0 1rem;	
			
		}	
		.footer{	
			padding: 1rem;	
			
		}
		.profile-slider__title{			
			bottom: 2rem;	
			left: 2rem;
			max-width: 40%;
			
		}	
	}

	@media screen and (max-width: 460px){
		.tabs-title__name{
			font-size: 1.4rem;
			padding: 0.5rem;			
		}
		.profile-slider__title{			
			bottom: 2rem;	
			left: 2rem;
			max-width: 50%;
			
		}

		.profile-slider__name{				
			font-size: 3rem;
			margin-bottom: 0;		
		}

		.profile-slider__cat{				
			font-size: 1.4rem;		
		}
		.arrow-left{
			font-size: 1.3rem;
		}
		.arrow-right{
			font-size: 1.3rem;
		}
	}
	